[Desktop Entry]
Name=BarowaChat
GenericName=Matrix Client
Comment=Chat with your friends
Exec=barowachat
Icon=${SNAP}/meta/gui/barowachat.png
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
